<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" crossorigin="anonymous">
	<link type="text/css" rel="stylesheet" href="{$basePath}/css/materialize.min.css"  media="screen,projection"/>
</head>

<body>
	<div class="container-fluid">
		<div class="container top-cta">
			{include content}
		</div>
	</div>

	{block scripts}
		<script src="https://nette.github.io/resources/js/3/netteForms.min.js" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/naja@2/dist/Naja.min.js" crossorigin="anonymous"></script>
		<script type="text/javascript" src="{$basePath}/js/materialize.min.js"></script>
	<script>
document.addEventListener('DOMContentLoaded', () => {
	// MaterializeCss tousts
	{foreach $flashes as $flash}
		M.toast({ html: {$flash->message}, classes: {$flash->type} });
	{/foreach}

	// Modals
	var elems = document.querySelectorAll('.modal');
	M.Modal.init(elems, null);

	// Delete actions
	const deleteBtns = document.getElementsByClassName('delete-btn');
	const submitDeleteBtn = document.getElementById('modal-delete-brand-btn');
	const deleteForm = document.getElementById('frm-brandDeleteForm');
	
	// Add event listeners to all delete buttons
	for (let i = 0; i < deleteBtns.length; i++) {
		deleteBtns[i].addEventListener('click', (event) => {
			const queryString = window.location.search;
			const urlParams = new URLSearchParams(queryString);

			deleteForm.elements['brand_id'].value = event.target.dataset.brandId;

			setFormPaginationParams(deleteForm);

			M.Modal.getInstance(document.getElementById('modal-delete-brand')).open();
		});
	}

	// Add event listener for submit button in delete modal
	submitDeleteBtn.addEventListener('click', (event) => {
		deleteForm.submit();
	});
	
	// Edit actions
	const editBtns = document.getElementsByClassName('edit-btn');
	const submitEditBtn = document.getElementById('modal-edit-brand-btn');
	const editForm = document.getElementById('frm-brandEditForm');

	// Add event listeners to all edit buttons
	for (let i = 0; i < editBtns.length; i++) {
		editBtns[i].addEventListener('click', (event) => {
			const queryString = window.location.search;
			const urlParams = new URLSearchParams(queryString);

			editForm.elements['brand_id'].value = editBtns[i].dataset.brandId;
			editForm.elements['brand_name'].value = editBtns[i].dataset.brandName;

			setFormPaginationParams(editForm);

			M.Modal.getInstance(document.getElementById('modal-edit-brand')).open();
		});
	}

	// Add event listener for submit button in edit modal
	submitEditBtn.addEventListener('click', (event) => {
		editForm.submit();
	});

	// Create actions
	const createBtn = document.getElementById('create-btn');
	const submitCreateBtn = document.getElementById('modal-create-brand-btn');
	const createForm = document.getElementById('frm-brandCreateForm');

	createBtn.addEventListener('click', (event) => {
			setFormPaginationParams(createForm);

			M.Modal.getInstance(document.getElementById('modal-create-brand')).open();
	});

	submitCreateBtn.addEventListener('click', (event) => {
		createForm.submit();
	});
});

/**
 * Insert pagination parameters into the form.
 * 
 * @param HTMLFormElement $form
 */
function setFormPaginationParams(form) {
	const queryString = window.location.search;
	const urlParams = new URLSearchParams(queryString);
	
	if (parseInt(urlParams.get('count')) > 0) {
		form.elements['count'].value = urlParams.get('count');
	}

	if (parseInt(urlParams.get('page')) > 0) {
		form.elements['page'].value = urlParams.get('page');
	}

	if (urlParams.get('sort') === 'ASC' || urlParams.get('sort') === 'DESC') {
		form.elements['sort'].value = urlParams.get('sort');
	}
}
	</script>
	{/block}
</body>
</html>
