{block content}
	<h1 style="width: 80%; margin-left: 10%;">
		Značky
		<button id="create-btn" class="waves-effect waves-green btn-flat">Přidat značku</button>
	</h1>

	<table style="width: 80%; margin-left: 10%;">
		<thead>
			<tr>
				<th>
					<span>Název</span>
					<a n:href="this $pagination->count, $pagination->page, 'ASC'">↑</a>
					<a n:href="this $pagination->count, $pagination->page, 'DESC'">↓</a>
				</th>
				<th class="right-align">Akce</th>
			</tr>
		</thead>
		<tbody>
		{foreach $brands as $brand}
			<tr>
				<td>{$brand->name}</td>
				<td style="text-align: right">
					<button 
						data-brand-id="{$brand->id}" 
						class="waves-effect waves-red btn-flat delete-btn"
					>
						Smazat
					</button>
					<button 
						data-brand-id="{$brand->id}" 
						data-brand-name="{$brand->name}"
						class="waves-effect waves-green btn-flat edit-btn"
					>
						Editovat
					</button>
				</td>
			</tr>
		{/foreach}
		</tbody>
		<tfoot>
			<tr>
				<td>
					<span>Celkem: <strong>{$pagination->totalCount}</strong></span>
				</td>
				<td style="text-align: right;">
					<ul class="pagination">
						{if $pagination->page > 1}
							<li class="waves-effect">
								<a n:href="this $pagination->count, 1, $sort"><i class="material-icons">chevron_left</i></a>
							</li>
						{/if}

						{for $i = 1; $i <= $pagination->countOfPages; $i++}
							{if $pagination->page === $i}
								<li class="active"><a href="#">{$i}</a></li>
							{else}
								<li class="waves-effect">
									<a n:href="this $pagination->count, $i, $sort">{$i}</a>
								</li>
							{/if}
						{/for}

						{if $pagination->page < $pagination->countOfPages}
							<li class="waves-effect">
								<a n:href="this $pagination->count, $pagination->countOfPages, $sort"><i class="material-icons">chevron_right</i></a>
							</li>
						{/if}
					</ul>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					{if $pagination->count === 5}
						<a href="#" style="font-weight: bold;">5</a>
					{else}
						<a n:href="this 5, $pagination->page, $sort" class="waves-effect">5</a>
					{/if}
					{if $pagination->count === 10}
						<a href="#" style="font-weight: bold;" class="waves-effect">10</a>
					{else}
						<a n:href="this 10, $pagination->page, $sort">10</a>
					{/if}
					{if $pagination->count === 15}
						<a href="#" style="font-weight: bold;" class="waves-effect">15</a>
					{else}
						<a n:href="this 15, $pagination->page, $sort">15</a>
					{/if}
				</td>
			</tr>
		</tfoot>
	</table>

	<div id="modal-delete-brand" class="modal">
		<div class="modal-content">
			{control brandDeleteForm}
			<h4>Smazat značku?</h4>
			<p>Skutečně chcete smazat vybranou značku?</p>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat">Zrušit</a>
			<button id="modal-delete-brand-btn" class="modal-close waves-effect waves-red btn-flat">Smazat</a>
		</div>
	</div>

	<div id="modal-edit-brand" class="modal">
		<div class="modal-content">
			<h4>Upravit značku</h4>
			{control brandEditForm}
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat">Zrušit</a>
			<button id="modal-edit-brand-btn" class="modal-close waves-effect waves-red btn-flat">Uložit</a>
		</div>
	</div>

	<div id="modal-create-brand" class="modal">
		<div class="modal-content">
			<h4>Vytvořit značku</h4>
			{control brandCreateForm}
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat">Zrušit</a>
			<button id="modal-create-brand-btn" class="modal-close waves-effect waves-red btn-flat">Uložit</a>
		</div>
	</div>
{/block}
